
.env
.env.bak
FFmpeg/bin/ffmpeg.exe
FFmpeg/bin/ffplay.exe
FFmpeg/bin/ffprobe.exe
FFmpeg/doc/bootstrap.min.css
FFmpeg/doc/default.css
FFmpeg/doc/developer.html
FFmpeg/doc/faq.html
FFmpeg/doc/fate.html
FFmpeg/doc/ffmpeg-all.html
FFmpeg/doc/ffmpeg-bitstream-filters.html
FFmpeg/doc/ffmpeg-codecs.html
FFmpeg/doc/ffmpeg-devices.html
FFmpeg/doc/ffmpeg-filters.html
FFmpeg/doc/ffmpeg-formats.html
FFmpeg/doc/ffmpeg-protocols.html
FFmpeg/doc/ffmpeg-resampler.html
FFmpeg/doc/ffmpeg-scaler.html
FFmpeg/doc/ffmpeg-utils.html
FFmpeg/doc/ffmpeg.html
FFmpeg/doc/ffplay-all.html
FFmpeg/doc/ffplay.html
FFmpeg/doc/ffprobe-all.html
FFmpeg/doc/ffprobe.html
FFmpeg/doc/general.html
FFmpeg/doc/git-howto.html
FFmpeg/doc/libavcodec.html
FFmpeg/doc/libavdevice.html
FFmpeg/doc/libavfilter.html
FFmpeg/doc/libavformat.html
FFmpeg/doc/libavutil.html
FFmpeg/doc/libswresample.html
FFmpeg/doc/libswscale.html
FFmpeg/doc/mailing-list-faq.html
FFmpeg/doc/nut.html
FFmpeg/doc/platform.html
FFmpeg/doc/style.min.css
FFmpeg/LICENSE
FFmpeg/presets/libvpx-1080p.ffpreset
FFmpeg/presets/libvpx-1080p50_60.ffpreset
FFmpeg/presets/libvpx-360p.ffpreset
FFmpeg/presets/libvpx-720p.ffpreset
FFmpeg/presets/libvpx-720p50_60.ffpreset
FFmpeg/README.txt
users.json.bak
users.json
.idea/GlemBot-main.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.pyc
